coverage==7.5.0
croniter==2.0.5
watchdog==4.0.1
mock-open==1.4.0
mypy==1.10.0
pre-commit==3.7.1
pytest==8.2.0
pytest-cov==5.0.0
pytest-homeassistant-custom-component==0.13.135
pylint==3.2.3
pylint-strict-informational==0.1
