coverage==7.6.8
croniter==6.0.0
watchdog==6.0.0
mock-open==1.4.0
mypy==1.10.1
pre-commit==3.7.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-homeassistant-custom-component==0.13.201
pylint==3.3.2
pylint-strict-informational==0.1
